<%- include('../layout/min.header.ejs') %>

<section id="views">
    <ul class="image-container" id="lightGallery">
        <% for(let file of files){ %>
            <li data-src="/image/models/<%= model.category %>/<%= model.name %>/<%= file %>">
                <a href="#">
                    <img src="/image/models/<%= model.category %>/<%= model.name %>/th/<%= file %>" />
                </a>
            </li>
        <% } %>
    </ul>
    <div class="views-container">
        <div class="views-left-box">
            <h3>Секс кукла: <%= model.name %></h3>
            <h4>Цена: <%= model.price %>&#8381;</h4>
            <p><%= model.desc %></p>
            <br /><br />
            <p><b>Параметры:</b><br />
            Рост: <%= param.height %> см<br />
            <% if(param.bra_size != false) { %>
                Размер бюстгальтера: ( <%= param.bra_size %> )<br />
            <% } %>
            Бюст: <%= param.bust %> см<br />
            Талия: <%= param.waist %> см<br />
            Бедра: <%= param.hips %> см<br />
            Размер ступни: <%= param.food_size %> см<br />
            Вес: <%= param.weight %> кг<br />
            <% if(param.penis == 0) {%>
                Влагалище: <%= param.vagina %> см<br />
            <% } else {%>
                    Пенис: <%= param.penis %> см<br />
            <% } %>
            Анус: <%= param.anus %> см<br />
            Рот: <%= param.mouse %> см<br />
            </p>
        </div>
        <div class="views-right-box">
            <form class="order-form" method="post" action="/order-send">
                <h4>Для совершения заказа заполните форму</h4>
                <input type="hidden" name="id" value="<%= model.id %>" />
                <input type="hidden" name="model" value="<%= model.name %>" />
                <div class="input-box">
                    <input type="text" name="name" placeholder="ФИО" required/>
                </div>
                <div class="input-box">
                    <input type="text" name="phone" placeholder="Телефон" required/>
                </div>
                <div class="input-box input-textarea">
                    <textarea name="message" placeholder="Адрес" required></textarea>
                </div>
                <div class="input-box input-radio">
                    <input type="radio" name="desk" value="1" checked />
                    <label>По предоплате с бесплатной доставкой</label><br />
                    <input type="radio" name="desk"  value="2"/>
                    <label>Наложенным платежом курьером</label><br />
                    <input type="radio" name="desk"  value="3"/>
                    <label>Наложенным платежом "Почтой России"</label><br />
                </div>

                <div class="input-box">
                    <input type="submit" name="send" value="Отправить"/>
                </div>
            </form>
        </div>
    </div>
    <svg class="wave" viewBox="0 0 1440 330" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path fill="#ffffff" fill-opacity="1"
              d="M0,165L34.3,159.5C68.6,154,137,143,206,148.5C274.3,154,343,176,411,198C480,220,549,242,617,236.5C685.7,231,754,198,823,181.5C891.4,165,960,165,1029,187C1097.1,209,1166,253,1234,258.5C1302.9,264,1371,231,1440,203.5C1508.6,176,1577,154,1646,121C1714.3,88,1783,44,1851,38.5C1920,33,1989,66,2057,104.5C2125.7,143,2194,187,2263,181.5C2331.4,176,2400,121,2469,93.5C2537.1,66,2606,66,2674,55C2742.9,44,2811,22,2880,49.5C2948.6,77,3017,154,3086,203.5C3154.3,253,3223,275,3291,242C3360,209,3429,121,3497,93.5C3565.7,66,3634,99,3703,143C3771.4,187,3840,242,3909,264C3977.1,286,4046,275,4114,242C4182.9,209,4251,154,4320,132C4388.6,110,4457,121,4526,143C4594.3,165,4663,198,4731,187C4800,176,4869,121,4903,93.5L4937.1,66L4937.1,330L4902.9,330C4868.6,330,4800,330,4731,330C4662.9,330,4594,330,4526,330C4457.1,330,4389,330,4320,330C4251.4,330,4183,330,4114,330C4045.7,330,3977,330,3909,330C3840,330,3771,330,3703,330C3634.3,330,3566,330,3497,330C3428.6,330,3360,330,3291,330C3222.9,330,3154,330,3086,330C3017.1,330,2949,330,2880,330C2811.4,330,2743,330,2674,330C2605.7,330,2537,330,2469,330C2400,330,2331,330,2263,330C2194.3,330,2126,330,2057,330C1988.6,330,1920,330,1851,330C1782.9,330,1714,330,1646,330C1577.1,330,1509,330,1440,330C1371.4,330,1303,330,1234,330C1165.7,330,1097,330,1029,330C960,330,891,330,823,330C754.3,330,686,330,617,330C548.6,330,480,330,411,330C342.9,330,274,330,206,330C137.1,330,69,330,34,330L0,330Z"></path>
    </svg>
    <svg class="wave-revers" viewBox="0 0 1440 330" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path fill="#ffffff" fill-opacity=".4"
              d="M0,165L34.3,159.5C68.6,154,137,143,206,148.5C274.3,154,343,176,411,198C480,220,549,242,617,236.5C685.7,231,754,198,823,181.5C891.4,165,960,165,1029,187C1097.1,209,1166,253,1234,258.5C1302.9,264,1371,231,1440,203.5C1508.6,176,1577,154,1646,121C1714.3,88,1783,44,1851,38.5C1920,33,1989,66,2057,104.5C2125.7,143,2194,187,2263,181.5C2331.4,176,2400,121,2469,93.5C2537.1,66,2606,66,2674,55C2742.9,44,2811,22,2880,49.5C2948.6,77,3017,154,3086,203.5C3154.3,253,3223,275,3291,242C3360,209,3429,121,3497,93.5C3565.7,66,3634,99,3703,143C3771.4,187,3840,242,3909,264C3977.1,286,4046,275,4114,242C4182.9,209,4251,154,4320,132C4388.6,110,4457,121,4526,143C4594.3,165,4663,198,4731,187C4800,176,4869,121,4903,93.5L4937.1,66L4937.1,330L4902.9,330C4868.6,330,4800,330,4731,330C4662.9,330,4594,330,4526,330C4457.1,330,4389,330,4320,330C4251.4,330,4183,330,4114,330C4045.7,330,3977,330,3909,330C3840,330,3771,330,3703,330C3634.3,330,3566,330,3497,330C3428.6,330,3360,330,3291,330C3222.9,330,3154,330,3086,330C3017.1,330,2949,330,2880,330C2811.4,330,2743,330,2674,330C2605.7,330,2537,330,2469,330C2400,330,2331,330,2263,330C2194.3,330,2126,330,2057,330C1988.6,330,1920,330,1851,330C1782.9,330,1714,330,1646,330C1577.1,330,1509,330,1440,330C1371.4,330,1303,330,1234,330C1165.7,330,1097,330,1029,330C960,330,891,330,823,330C754.3,330,686,330,617,330C548.6,330,480,330,411,330C342.9,330,274,330,206,330C137.1,330,69,330,34,330L0,330Z"></path>
    </svg>
</section>

<%- include('../layout/min.footer.ejs') %>

