<%- include('../layout/header.ejs') %>

<section id="catalog">
    <h3 class="headline"><%= headline %></h3>
    <div class="catalog-container">

        <% for(let item of model) {%>
            <a href="/view/<%= item.id %>" class="catalog-item">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <img src="/image/models/<%= item.category %>/<%= item.name %>/ava.jpg" alt="секс кукла"/>
                <div class="catalog-item-price">
                    <h4>Модель: <%= item.name %></h4>
                    <p>Цена: <%= item.price %>&#8381;</p>
                    <button>Подробнее</button>
                </div>
            </a>
        <% }%>
    </div>
</section>
<section id="voice">
    <h3 class="headline">Последние отзывы</h3>
    <div class="voice-container">
        <%for(let item of comment) {%>
            <div class="voice-item" data-text="<%= item.text %>">
                <span class="quote">"</span>
                <p><%= item.text.substr(0, 180) + '...' %></p>
                <ion-icon name="person-circle-outline"></ion-icon>
                <h4><%= item.name %>, <%= item.age %> года</h4>
            </div>
       <% }%>
    </div>
    <a href="#" class="voice-link">Все отзывы >>></a>
</section>
<script type="module">
    $('.voice-item').on('click', function(e){
        let $this = $(this);
        let $body = $('body')
        let $clone = $this.clone();
        let text = $this.data('text');
        let $box = $('<div class="full-item-box" />');
        let $close = $('<ion-icon class="full-item-close" name="close-circle-outline"></ion-icon>');
        $clone.find('p').text(text);
        $clone.addClass('full-item');
        $clone.removeClass('voice-item');
        $body.css('overflow', 'hidden');
        $body.append($clone, $box,  $close);
        if($(window).width() > 480){
            $clone.css({
                'width': '380px',
                'height': '480px'
            });
        }else{
            $clone.css({
                'width': '320px',
                'height': '420px'
            });
        }

        $close.on('click', function (){
            $(this).remove();
            $box.remove();
            $clone.remove();
            $body.css('overflow', '');
        })
    });

    $('#voice-form').on('submit', function (e){
        e.preventDefault();
        let $body = $('body');
        let $box = $('<div class="full-item-box" />');
        let $close = $('<ion-icon class="full-item-close" name="close-circle-outline"></ion-icon>');
        let $modal = $('<div class="full-item" />');
        $modal.html('<ion-icon name="checkmark-circle-outline"></ion-icon><p>Ваше сообщение успешно отправленно!!!</p>');
        $body.append($modal, $box, $close);
        $body.css('overflow', 'hidden');
        if ($(window).width() > 480) {
            $modal.css({
                'width': '380px',
                'height': '280px'
            });
        } else {
            $modal.css({
                'width': '320px',
                'height': '200px'
            });
        }

        $close.on('click', function () {
            $(this).remove();
            $box.remove();
            $modal.remove();
            $body.css('overflow', '');
        });

        return false;
    })
</script>

<%- include('../layout/footer.ejs') %>