<%- include('../layout/header.ejs') %>

<section id="catalog">
    <h3 class="headline"><%= headline %></h3>
    <div class="catalog-container">

        <% for(let item of model) {%>
            <a href="/view/<%= item.id %>" class="catalog-item">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <img src="/image/models/<%= item.category %>/<%= item.name %>/ava.jpg" alt="секс кукла"/>
                <div class="catalog-item-price">
                    <h4>Модель: <%= item.name %></h4>
                    <p>Цена: <%= item.price %>&#8381;</p>
                    <button>Подробнее</button>
                </div>
            </a>
        <% }%>
    </div>
</section>
<section id="voice">
    <h3 class="headline">Последние отзывы</h3>
    <div class="voice-container">
        <%for(let item of comment) {%>
            <div class="voice-item" data-text="<%= item.text %>">
                <span class="quote">"</span>
                <p><%= item.text.substr(0, 180) + '...' %></p>
                <ion-icon name="person-circle-outline"></ion-icon>
                <h4><%= item.name %>, <%= item.age %> года</h4>
            </div>
       <% }%>
    </div>
    <a href="#" class="voice-link">Все отзывы >>></a>
</section>
<script type="module" src="js/voice.js"></script>

<%- include('../layout/footer.ejs') %>