<%- include('../layout/header.ejs') %>

<section>
    <h3 class="headline"><%= headline %></h3>
    <div class="voice-container">
        <% for(let item of result) { %>
            <div class="voice-item" data-text="<%= item.text %>" data-name="<%= item.name %>" data-age="<%= item.age %>">
                <span class="quote">"</span>
                <p><%= item.text.substr(0, 180) + '...' %></p>
                <ion-icon name="person-circle-outline"></ion-icon>
                <h4><%= item.name %>, <%= item.age %> года</h4>
            </div>
        <% } %>
    </div>
    <h3 class="headline">Оставьте Ваш отзыв</h3>
    <div class="voice-form-container">
        <div class="voice-form-text">
            <p>
                Мы будем очень Вам признательны если вы оставите, отзыв и поделитесь с остальными посетителями нашего сайта своими впечатлениями о нашей продукции...
                Мы обязательно опубликуем Ваш отзыв если он не содержит оскорбительных выражений или призывов к насилию и разного рода дискриминации.
                Спасибо за понимание!!!
            </p>
        </div>
        <div class="voice-form-box">
            <form id="voice-form" method="post">
                <div class="voice-input-box">
                    <input type="text" name="name" placeholder="Имя" required >
                </div>
                <div class="voice-input-box">
                    <input type="text" name="age" placeholder="Возраст" required>
                </div>
                <div class="voice-input-box">
                    <textarea name="message" placeholder="Ваш отзыв" required></textarea>
                </div>
                <div class="voice-submit-box">
                    <input type="submit" value="Отправить" />
                </div>
            </form>
        </div>
    </div>
</section>
<section id="advantages">
    <h3 class="headline">Преимущества</h3>
    <div class="advantages-container">
        <div class="advantages-box">
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Все модели всегда в наличии и ждут своего владельца</h4>
            </div>
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Отправляем на следующий день после подтверждения</h4>
            </div>
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Упаковка не содержит опознавательных знаков</h4>
            </div>
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Доставка по россии занимает до 10 дней</h4>
            </div>
            <div class="advantages-item">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <h4>Гарантия на всю продукцию 6 месяцев</h4>
            </div>
        </div>
    </div>
</section>
<script type="module" src="js/voice.js"></script>

<%- include('../layout/footer.ejs') %>